html {
  background-color: black;
  color: white;
}

.button__thumbnails {
  display: none;
}

.page-showcase .button__thumbnails {
  display: block;
  position: fixed;
  left: 300px;
  top: 10px;
}

.dots {
  display: flex;
  flex: wrap;
}

.dots .thumbnail__button {
  display: block;
  width: calc(100%/8);
}

.thumbnail__button {
  padding: 2px;
  border-radius: 5px;
  background: #000;
  border: none;
  outline: none;
}