html {
  background-color: black;
  color: white;
}

.dots {
  display: flex;
}

.button__thumbnails {
  display: none;
}

.page-showcase .button__thumbnails {
  display: block;
  position: fixed;
  left: 300px;
  top: 10px;
}