body * {
  box-sizing: border-box;
}

.main-header{
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  margin-left: 50%;
  margin-top: 4%;
  font-family: Poppins;
  /* overflow: hidden; */
}
.logo{
  color: #fff;
  text-decoration: none;
  display: block;
}

.logo__title{
  font-size: 120px;
  display: inherit;
  font-weight: 900;
  font-family: Poppins;
}

.logo__subtitle{
  font-size: 30px;
  display: inherit;
  font-family: Comfortaa;
  font-weight: 600;
}

.main-nav{
  margin-top: 5%;
  max-width: 300px;
}

.main-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 250px;
}
.main-nav ul li {
  padding: 5px 0;
  cursor: pointer;
  position: relative;
  /* border-bottom: 1px solid #323232; */
  overflow: hidden;
}
.main-nav ul li:first-child{
  border-top: 1px solid #323232;
}
.main-nav ul li:after,
.main-nav ul li:before{
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #323232;
}
.main-nav ul li:after{
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.5s ease-out;
  opacity: 0;
}
.main-nav ul li:before{
  transform: translateX(0);
  /* transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.2s ease-out; */
}

.main-nav ul li:hover a{
  opacity: 1;
}
.main-nav ul li:hover:after{
  background-color: #fff;
  opacity: 1;
  transform: translateX(0);
}
.main-nav ul li:hover::before{
  opacity: 0;
  transform: translateX(-30%);
}
.main-nav ul li:after{
  transform: translateX(-30%);
  /* background-color: red; */
}


.main-nav ul li a{
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), border-bottom 0.2s ease-in;
}